@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

:root {
  --background: #ffe9d7;
  --foreground: rgb(1, 0, 57);
  --accent: #db662d;
  --secondary: #5fb1c2;
}

/* @media (prefers-color-scheme: dark) { */
  /* :root { */
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  /* } */
/* } */

body {
  color: var(--foreground);
  background-color: white;
  background-blend-mode: multiply;
  background-size: 5rem 5rem;
  background-image: 
    linear-gradient(to right, var(--foreground) 1px, transparent 1px),
    linear-gradient(to bottom, var(--foreground) 1px, transparent 1px);

  font-family: "Fira Sans", monospace;
  /* animation: scroll 20s linear infinite; */
}

@keyframes scroll {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 10rem 10rem;
  }
}
